<% if user_signed_in? %>
  <h1 class="welcome-header"> Hello, <br><%= current_user.email %> </h1>
  <p class="welcome-text">Welcome to back Disaster Info</p>
  <%= link_to 'Sign out', destroy_user_session_path, data: { 'turbo-method': :delete }, class: 'home-btn' %>
<% else %>
  <h1 class="welcome-header">Hello Visitor!</h1>
  <p class="welcome-text">Welcome to Disaster Info</p>
  <%= link_to 'Sign in', new_user_session_path, class: 'home-btn' %>
<% end %>